<ion-content *ngIf="isConnected$ | async">
  <h3 class="calibrate-warning" *ngIf="!(isCalibrated$ | async) && (isRecording$ | async)">
    Calibrate to continue!
  </h3>
  <div class="action-row" [ngSwitch]="isRecording$ | async">
    <ion-button color="success" *ngSwitchCase="false" (click)="startRecording()">Start</ion-button>
    <ion-button color="danger" *ngSwitchCase="true" (click)="stopRecording()">Stop</ion-button>
    <ion-button (click)="calibratePressure()" color="warning" *ngSwitchCase="true">
      Calibrate
    </ion-button>
  </div>

  <app-record-detail *ngIf="isRecording$ |async "></app-record-detail>
</ion-content>
