<ion-button color="medium" size="small" (click)="openDetailPage(id, movingModeEnum.all)"
            [disabled]="(movingMode$ | async) === movingModeEnum.all">All
</ion-button>
<ion-button color="warning" size="small" (click)="openDetailPage(id, movingModeEnum.sit)"
            [disabled]="(movingMode$ | async) === movingModeEnum.sit">Sit
</ion-button>
<ion-button color="tertiary" size="small" (click)="openDetailPage(id, movingModeEnum.stand)"
            [disabled]="(movingMode$ | async) === movingModeEnum.stand">Stand
</ion-button>
<ion-button color="success" size="small" (click)="openDetailPage(id, movingModeEnum.move)"
            [disabled]="(movingMode$ | async) === movingModeEnum.move">Move
</ion-button>
