<div style="display: block;">
  <h4>{{title}}</h4>
  <canvas baseChart width="100%" height="50"
          [datasets]="histogramData | chartData"
          [labels]="histogramData | chartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
