<div style="display: block;">
  <h4>{{title}}</h4>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [colors]="chartColors"
          [chartType]="barChartType">
  </canvas>
</div>
