.name-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.action-row {
  display: flex;
  width: 100%;
}

.date {
  font-size: 12px;
  margin-right: 3px;
}

.violations {
  display: flex;
  justify-content: center;
}

mat-icon {
  font-size: 11px;
  height: auto;
  width: auto;
}

.list-item {
  padding: 5px 0;
  width: 100%;
}

.delete-button{
  margin-right: 0;
  margin-left: auto;
}
