<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of (resultsOverview$ | async) | reverse">
      <div class="list-item">
        <div class="name-row">
          <span class="date">{{item.startDate | date}} </span>
          <ion-badge>{{item.startDate | duration : item.endDate}}</ion-badge>
          <ion-badge *ngFor="let mode of (item.distribution | distribution)" [color]="mode.color">
            <div>
              <mat-icon>{{mode.icon}}</mat-icon>
              {{mode.value}}
            </div>
          </ion-badge>
          <ion-badge color="danger">
            <div class="violations">
              {{item.violations}}
              <ion-icon name="warning"></ion-icon>
            </div>
          </ion-badge>
        </div>
        <div class="action-row">
          <app-detail-switch [id]="item.id"></app-detail-switch>
          <ion-button color="danger" size="small" class="delete-button" (click)="deleteResult(item.id)">X</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
