<ion-header>
  <h4>
    <span>
    Settings
    </span>
    <ion-button color="light" (click)="closeSettings()" class="back-button">
      <ion-icon name="chevron-back-outline">
      </ion-icon>
    </ion-button>
  </h4>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Posture alert notifications</ion-label>
    <ion-toggle slot="end" name="posture-alert" color="primary"
                [checked]="postureAlertNotificationEnabled$ | async"
                (ionChange)="setPostureAlertNotificationEnabled($event)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Posture change notifications</ion-label>
    <ion-toggle slot="end" name="posture-change" color="primary"
                [checked]="postureChangeNotificationEnabled$ | async"
                (ionChange)="setPostureChangeNotificationsEnabled($event)"></ion-toggle>
  </ion-item>
</ion-content>
