<div class="container">
  <ion-header>
    <h4>
      Scanning for {{scanningType$ | async}}-device
      <ion-button color="medium" (click)="stopScanning()" class="back-button" size="small">
        <ion-icon name="close-outline">
        </ion-icon>
      </ion-button>
    </h4>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let device of (scannedDevices$ | async)" (click)="connect(device)">
        {{device.name || device.id}}
      </ion-item>
    </ion-list>
  </ion-content>
</div>
