:host {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 5px;
  background: white;
  width: 80%;
  height: 60%;
  -webkit-box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.back-button {
  margin-left: auto;
  margin-right: 0;
}

h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
