ion-title {
  text-align: center;
}

.buttons {
  display: flex;
}

.back-button {
  margin: 0 0 0 auto;
}

.connect-status {
  height: 14px;
  width: 14px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;

  &.active {
    background-color: #00c600;
  }

  &.scan {
    background-color: yellow;
  }
}
