<ion-toolbar>
  <ion-title>
    Sensoria Posture Analyze
  </ion-title>
  <div class="buttons">
    <ion-button (click)="connectButtonClick(deviceTypeEnum.left)" color="dark">
      Left <span class="connect-status"
                 [class.active]="(connectedDevices | async)?.left"
                 [class.scan]="(searchingMap$ | async)[deviceTypeEnum.left]"></span>
    </ion-button>
    <ion-button (click)="connectButtonClick(deviceTypeEnum.right)" color="dark">
      Right <span class="connect-status"
                  [class.active]="(connectedDevices | async)?.right"
                  [class.scan]="(searchingMap$ | async)[deviceTypeEnum.right]"></span>
    </ion-button>
    <ion-chip color="danger" *ngIf="!(isBluetoothEnabled$ | async)">
      <span>Bluetooth Off</span>
    </ion-chip>
    <ion-button color="light" (click)="navigateBack()" class="back-button" *ngIf="showBackButton">
      <ion-icon name="chevron-back-outline">
      </ion-icon>
    </ion-button>
    <ion-button color="light" (click)="openSettings()" class="back-button" *ngIf="!showBackButton">
      <ion-icon name="settings">
      </ion-icon>
    </ion-button>
  </div>
</ion-toolbar>
