<div *ngIf="recordEntry">
  <h3>
    Movement
  </h3>

  <ion-grid>
    <ion-row class="header-row">
      <ion-col>
        Mode
      </ion-col>
      <ion-col>
        Side
      </ion-col>
      <ion-col>
        Side Tilt
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displayMovingModeFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displaySideMovementFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displaySideTiltMovementFn"></app-live-value>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3>
    Tilt
  </h3>

  <ion-grid>
    <ion-row class="header-row">
      <ion-col>
        Frontal Tilt
      </ion-col>
      <ion-col>
        Side Tilt
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displayFrontalTiltFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displaySideTiltFn"></app-live-value>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3>
    <span class="pressure-caption">Pressure <span class="total-pressure">- {{totalPressure | round: 1}} kg</span></span>
  </h3>

  <ion-grid>
    <ion-row class="header-row">
      <ion-col>
        Front Right
      </ion-col>
      <ion-col>
        Front Left
      </ion-col>
      <ion-col>
        Heel
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displayFrontRightPressureFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displayFrontLeftPressureFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordEntry"
                        [displayFn]="displayHeelPressureFn"></app-live-value>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-live-value [recordEntry]="recordWithRelativePressure"
                        [displayFn]="displayFrontRightRelativePressureFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordWithRelativePressure"
                        [displayFn]="displayFrontLeftRelativePressureFn"></app-live-value>
      </ion-col>
      <ion-col>
        <app-live-value [recordEntry]="recordWithRelativePressure"
                        [displayFn]="displayHeelRelativePressureFn"></app-live-value>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
