:host {
  text-align: center;
}

h3 {
  margin: 7px;
}

ion-col {
  border:solid lightgrey 1px;
}

.header-row {
  background: #ddd;
}

.pressure-caption {
  position: relative;
}

.total-pressure {
  text-align: left;
  position: absolute;
  left: 100%;
  width: 100px;
  color: grey;
  z-index: 1000;
  bottom: 0;
  top: 0;
  margin-left: 5px;
}
