<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="record" href="record">
      <ion-label>Record</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="results" href="results">
      <ion-label>Results</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="debug" href="debug">
      <ion-label>Debug</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
