<ion-app>
  <ion-header [translucent]="true">
    <app-header></app-header>
  </ion-header>
  <app-scan-modal *ngIf="(scanningType$ | async) !== null"></app-scan-modal>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    <app-tab-bar></app-tab-bar>
  </ion-content>
</ion-app>
