<ion-content *ngIf="resultData">
  <h4>
    {{resultData.startDate | date}}
    ({{resultData.startDate | duration: resultData.endDate}})
  </h4>
  <h5>
    {{(movingMode$ | async) | movingMode}} - {{resultData.totalRecords}} records
  </h5>

  <div class="switch-row">
    <app-detail-switch [id]="id$ | async"></app-detail-switch>
  </div>

  <ng-container *ngIf="resultData?.totalRecords > 0">
    <app-histogram-chart [histogramData]="resultData.frontalTilt" title="Frontal Tilt"></app-histogram-chart>
    <app-histogram-chart [histogramData]="resultData.sideTilt" title="Side Tilt"></app-histogram-chart>
    <app-distribution-chart [distributionData]="resultData.pressure" title="Pressure"></app-distribution-chart>
    <app-histogram-chart [histogramData]="resultData.totalPressure" title="Total Pressure"></app-histogram-chart>
    <app-line-chart [timeData]="resultData.pressureOverTime" title="Pressure over Time"></app-line-chart>
    <app-histogram-chart [histogramData]="resultData.sideMovement" title="Side Movement"></app-histogram-chart>
    <app-histogram-chart [histogramData]="resultData.sideTiltMovement" title="Side Tilt Movement"></app-histogram-chart>
  </ng-container>
</ion-content>
